name: fetch-matches

on:
  schedule:
    - cron: '0 4 * * *'  # This runs the job every day at 4 am
    
  workflow_dispatch:

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      # checkout the repository content to github runner
      - name: checkout repo content
        uses: actions/checkout@v2 
      
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      # execute main script i.e run main.py
      - name: execute main script 
        env:
            DATABASE_URL: ${{ secrets.DATABASE_URL }} 
            API_BASE_URL_: ${{ secrets.DATABASE_URL }} 
        run: python main.py
      